@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Marbles</h1>
</div>

<h2>Get a Random Marble</h2>
<button onclick="GetRandomMarble()">ClickyClicky</button>
<ul id="marbleList"></ul>

<h2>Add a Marble</h2>
<div>
    <input type="text" id="newMarbleColor" />
    <button onclick="AddMarble()">Create!!!</button>
</div>
<ul id="marbleList2"></ul>